.todo{
    background-color: aqua;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

li{
    list-style: none;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0,  0.2);
    padding: 5px;
    align-items: center;
}

li:hover{
    background-color: blueviolet;
    color: white;
}